@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
      Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  }
}

/** Fullscreen */
div[data-fullscreen="true"] > div:nth-child(2) {
  @apply h-full;
}

/** Paragraph */
.ProseMirror table td p,
.ProseMirror table th p {
  @apply mb-0;
}

/** Placeholder */
.ProseMirror .is-empty::before {
  @apply text-colorTextPlaceholder float-left h-0 pointer-events-none w-full;
}

/* Slashmenu Placeholder */
.ProseMirror.ProseMirror-focused > [data-type="columns"] > [data-type="column"] p.is-empty.has-focus::before,
.ProseMirror.ProseMirror-focused p.has-focus.is-empty::before {
  content: "Type `/` to browse options";
}

/* Default Placeholder */
.ProseMirror :not(.node-codeBlock).is-empty::before {
  content: "Click here to start writing...";
}

.ProseMirror [data-placeholder][data-suggestion]::before,
.ProseMirror table p.is-empty::before,
.ProseMirror [data-placeholder][data-suggestion] *::before {
  content: none !important;
}

/** Lists */
.ProseMirror ul[data-type="taskList"] li {
  @apply flex;
}

.ProseMirror ul[data-type="taskList"] li > label {
  @apply grow-0 shrink-0 flex-auto mt-1 mr-2 select-none;
}

.ProseMirror ul[data-type="taskList"] li > div {
  @apply flex-auto;
}

.ProseMirror ul[data-type="taskList"] li[data-checked="true"] {
  @apply line-through;
}

/** Columns */
.ProseMirror [data-type="columns"]:hover [data-type="column"],
.ProseMirror [data-type="columns"]:has(.has-focus) [data-type="column"] {
  @apply !border-colorBorder;
}

.ProseMirror [data-type="column"] > :last-child,
.ProseMirror > :first-child:last-child,
.ProseMirror [data-type="column"] [data-type="imageUpload"] {
  @apply mb-0;
}

/** Image */
.ProseMirror [data-type="imageUpload"] {
  @apply mb-6;
}

/** Table */
.ProseMirror *,
.ProseMirror ::before,
.ProseMirror ::after {
  @apply box-border border-0 border-solid border-white;
}

.ProseMirror.resize-cursor {
  @apply cursor-col-resize;
}

.ProseMirror .tableWrapper,
.ProseMirror :not(.tableWrapper) table {
  @apply mb-6;
}

.ProseMirror table {
  @apply border-collapse border-colorBorder rounded box-border w-full;
}

.ProseMirror table td,
.ProseMirror table th {
  @apply border !border-colorBorder min-w-[100px] p-2 relative text-left align-top;
}

.ProseMirror table td:first-child:not(a),
.ProseMirror table th:first-child:not(a) {
  @apply mt-0;
}

.ProseMirror table td p,
.ProseMirror table th p {
  @apply m-0;
}

.ProseMirror table td p + p,
.ProseMirror table th p + p {
  @apply mt-3;
}

.ProseMirror table th {
  @apply font-bold;
}

.ProseMirror table .column-resize-handle {
  @apply -bottom-[2px] flex pointer-events-none absolute -right-1 top-0 w-2;
}

.ProseMirror table .column-resize-handle::before {
  @apply bg-colorBorder h-full w-[1px] ml-2;
  content: "";
}

.ProseMirror table .selectedCell {
  @apply bg-colorBgBlur border-colorBorder border-double;
}

.ProseMirror table .grip-column,
.ProseMirror table .grip-row {
  @apply items-center bg-colorFillTertiary cursor-pointer flex justify-center absolute z-10;
}

.ProseMirror table .grip-column {
  @apply w-[calc(100%+1px)] border-l border-colorBorder h-3 left-0 -ml-px -top-3;
}

.ProseMirror table .grip-column:hover::before,
.ProseMirror table .grip-column.selected::before {
  @apply w-2.5;
  content: "";
}

.ProseMirror table .grip-column:hover {
  @apply bg-colorFillSecondary;
}

.ProseMirror table .grip-column:hover::before {
  @apply border-b-2 border-dotted border-colorTextDescription;
}

.ProseMirror table .grip-column.first {
  @apply border-transparent rounded-tl-sm;
}

.ProseMirror table .grip-column.last {
  @apply rounded-tr-sm;
}

.ProseMirror table .grip-column.selected {
  @apply bg-colorFill border-colorBorder shadow-sm;
}

.ProseMirror table .grip-column.selected::before {
  @apply border-b-2 border-dotted;
}

.ProseMirror table .grip-row {
  @apply h-[calc(100%+1px)] border-t border-colorBorder -left-3 w-3 top-0 -mt-px;
}

.ProseMirror table .grip-row:hover::before,
.ProseMirror table .grip-row.selected::before {
  @apply h-2.5;
  content: "";
}

.ProseMirror table .grip-row:hover {
  @apply bg-colorFillSecondary;
}

.ProseMirror table .grip-row:hover::before {
  @apply border-l-2 border-dotted border-colorTextDescription;
}

.ProseMirror table .grip-row.first {
  @apply border-transparent rounded-tl-sm;
}

.ProseMirror table .grip-row.last {
  @apply rounded-bl-sm;
}

.ProseMirror table .grip-row.selected {
  @apply bg-colorFill border-colorBorder shadow-sm;
}

.ProseMirror table .grip-row.selected::before {
  @apply border-l-2 border-dotted;
}

/** Horizontal rule */
.ProseMirror [data-type="horizontalRule"] {
  @apply transition-all duration-100 ease-in-out cursor-pointer;
}

.ProseMirror [data-type="horizontalRule"].ProseMirror-selectednode {
  @apply bg-colorBgElevated;
}

.ProseMirror [data-type="horizontalRule"].ProseMirror-selectednode hr {
  @apply border-t-colorBorder;
}

.ProseMirror [data-type="horizontalRule"]:hover:not(.ProseMirror-selectednode) {
  @apply bg-colorBgContainer;
}

.ProseMirror [data-type="horizontalRule"] hr {
  @apply border-0 border-t border-colorBorder bg-colorBgContainer;
}

/** Page break */
.ProseMirror [data-type="pageBreak"] {
  @apply cursor-pointer relative;
}

.ProseMirror [data-type="pageBreak"]::before {
  @apply w-full border-t-2 border-dashed border-colorBorder absolute top-1/2 left-1/2 transform -translate-x-1/2 translate-y-4;
  content: "";
}

.ProseMirror [data-type="pageBreak"]::after {
  @apply font-semibold uppercase text-xs absolute top-1/2 left-1/2 transform -translate-x-1/2 translate-y-1/2 bg-colorBgContainer px-2;
  content: "Page break";
}

/** Code block */
.ProseMirror pre code span {
  font-family: "JetBrains Mono", monospace;
}

.ProseMirror pre code .hljs {
  @apply text-gray-6 bg-gray-1;
}

.ProseMirror pre code .hljs-comment {
  @apply italic text-gray-2;
}

.ProseMirror pre code .hljs-punctuation,
.ProseMirror pre code .hljs-tag {
  @apply text-gray-6;
}

.ProseMirror pre code .hljs-tag.hljs-attr {
  @apply text-[#c44170];
}

.ProseMirror pre code .hljs-tag.hljs-name {
  @apply text-[#4b71bd];
}

.ProseMirror pre code .hljs-attribute,
.ProseMirror pre code .hljs-doctag,
.ProseMirror pre code .hljs-keyword,
.ProseMirror pre code .hljs-meta .hljs-keyword,
.ProseMirror pre code .hljs-name,
.ProseMirror pre code .hljs-selector-tag {
  @apply font-medium text-[#496eb8];
}

.ProseMirror pre code .hljs-deletion,
.ProseMirror pre code .hljs-number,
.ProseMirror pre code .hljs-quote,
.ProseMirror pre code .hljs-selector-class,
.ProseMirror pre code .hljs-selector-id,
.ProseMirror pre code .hljs-string,
.ProseMirror pre code .hljs-template-tag,
.ProseMirror pre code .hljs-type {
  @apply text-[#886594];
}

.ProseMirror pre code .hljs-section,
.ProseMirror pre code .hljs-title {
  @apply font-medium text-[#c44170];
}

.ProseMirror pre code .hljs-link,
.ProseMirror pre code .hljs-operator,
.ProseMirror pre code .hljs-regexp,
.ProseMirror pre code .hljs-selector-attr,
.ProseMirror pre code .hljs-selector-pseudo,
.ProseMirror pre code .hljs-symbol,
.ProseMirror pre code .hljs-template-variable,
.ProseMirror pre code .hljs-variable {
  @apply text-[#e06c75];
}

.ProseMirror pre code .hljs-literal {
  @apply text-[#695];
}

.ProseMirror pre code .hljs-addition,
.ProseMirror pre code .hljs-built_in,
.ProseMirror pre code .hljs-bullet,
.ProseMirror pre code .hljs-code,
.ProseMirror pre code .hljs-params {
  @apply text-[#c44170];
}

.ProseMirror pre code .hljs-meta {
  @apply text-[#625b6b];
}

.ProseMirror pre code .hljs-meta .hljs-string {
  @apply text-[#38a];
}

.ProseMirror pre code .hljs-emphasis {
  @apply italic;
}

.ProseMirror pre code .hljs-strong {
  @apply font-medium;
}
