@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
      Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  }
}

.ProseMirror *,
.ProseMirror ::before,
.ProseMirror ::after {
  @apply ny-box-border ny-border-0 ny-border-solid ny-border-white;
}

.ny-editor__container {
  @apply ny-flex ny-flex-col;
}

.ny-editor__container .ny-editor__content {
  @apply ny-pt-4 ny-h-[--ny-editor-height] ny-overflow-y-auto ny-border-solid ny-border-colorBorder ny-border-[length:--ny-editor-border-width] ny-border-t-[length:--ny-editor-border-top-width];
}

/** Icon */
.lucide {
  width: 14px;
  height: 14px;
  stroke-width: 3px;
}

kbd .lucide {
  width: 9px;
  height: 9px;
}

/** Fullscreen */
.ny-editor__container.noty-editor__fullscreen {
  @apply ny-z-50 ny-fixed ny-inset-0 ny-m-0 ny-w-full ny-h-screen;
}

.ny-editor__container.noty-editor__fullscreen,
.ny-editor__container.noty-editor__fullscreen .ny-editor__header {
  @apply ny-rounded-none;
}

.ny-editor__container.noty-editor__fullscreen .ny-editor__content {
  @apply ny-flex-1;
}

/** Focus */
.ProseMirror .has-focus :is(table, img) {
  @apply ny-border-2 ny-border-solid ny-border-colorPrimary;
}

/** Paragraph */
.ProseMirror table td p,
.ProseMirror table th p {
  @apply ny-mb-0;
}

/** Code */
.ProseMirror code {
  @apply ny-bg-colorBgContainerDisabled ny-rounded-sm ny-font-jetbrains ny-p-0.5;
}

/** Mention */
.ProseMirror span[data-type="mention"] {
  @apply ny-cursor-pointer ny-bg-colorPrimary ny-px-1 ny-py-0.5 ny-rounded-[4px];
}

/** Placeholder */
.ProseMirror .is-empty::before {
  @apply ny-text-colorTextPlaceholder ny-float-left ny-h-0 ny-pointer-events-none ny-w-full;
}

/* Slashmenu Placeholder */
.ProseMirror.ProseMirror-focused > [data-type="columns"] > [data-type="column"] p.is-empty.has-focus::before,
.ProseMirror.ProseMirror-focused p.has-focus.is-empty::before {
  content: "Type `/` to browse options";
}

/* Default Placeholder */
.ProseMirror :not(.node-codeBlock).is-empty::before {
  content: "Click here to start writing...";
}

.ProseMirror [data-placeholder][data-suggestion]::before,
.ProseMirror table p.is-empty::before,
.ProseMirror [data-placeholder][data-suggestion] *::before {
  content: none !important;
}

/** Lists */
.ProseMirror ul[data-type="taskList"] li {
  @apply ny-flex;
}

.ProseMirror ul[data-type="taskList"] li > label {
  @apply ny-grow-0 ny-shrink-0 ny-flex-auto ny-mt-1 ny-mr-2 ny-select-none;
}

.ProseMirror ul[data-type="taskList"] li > div {
  @apply ny-flex-auto;
}

.ProseMirror ul[data-type="taskList"] li[data-checked="true"] {
  @apply ny-line-through;
}

/** Columns */
.ProseMirror [data-type="columns"]:hover [data-type="column"],
.ProseMirror [data-type="columns"]:has(.has-focus) [data-type="column"] {
  @apply !ny-border-colorBorder;
}

.ProseMirror [data-type="column"] > :last-child,
.ProseMirror > :first-child:last-child,
.ProseMirror [data-type="column"] [data-type="imageUpload"] {
  @apply ny-mb-0;
}

/** Image */
.ProseMirror [data-type="imageUpload"] {
  @apply ny-mb-6;
}

/** Table */
.ProseMirror.resize-cursor {
  @apply ny-cursor-col-resize;
}

.ProseMirror .tableWrapper,
.ProseMirror :not(.tableWrapper) table {
  @apply ny-mb-6;
}

.ProseMirror table {
  @apply ny-border-collapse ny-rounded ny-box-border ny-w-full;
}

.ProseMirror table td,
.ProseMirror table th {
  @apply ny-min-w-[100px] ny-p-2 ny-relative ny-text-left ny-align-top;
}

.ProseMirror table[border="1"] td,
.ProseMirror table[border="1"] th {
  @apply ny-border !ny-border-colorBorder;
}

.ProseMirror table td:first-child:not(a),
.ProseMirror table th:first-child:not(a) {
  @apply ny-mt-0;
}

.ProseMirror table td p,
.ProseMirror table th p {
  @apply ny-m-0;
}

.ProseMirror table td p + p,
.ProseMirror table th p + p {
  @apply ny-mt-3;
}

.ProseMirror table th {
  @apply ny-font-bold;
}

.ProseMirror table .column-resize-handle {
  @apply -ny-bottom-[2px] ny-flex ny-pointer-events-none ny-absolute -ny-right-1 ny-top-0 ny-w-2;
}

.ProseMirror table .column-resize-handle::before {
  @apply ny-bg-colorBorder ny-h-full ny-w-[1px] ny-ml-2;
  content: "";
}

.ProseMirror table .selectedCell {
  @apply ny-bg-colorBgTextHover ny-border-colorBorder ny-border-double;
}

.ProseMirror table .grip-column,
.ProseMirror table .grip-row {
  @apply ny-items-center ny-bg-colorFillTertiary ny-cursor-pointer ny-flex ny-justify-center ny-absolute ny-z-10;
}

.ProseMirror table .grip-column {
  @apply ny-w-[calc(100%+1px)] ny-border-l ny-border-colorBorder ny-h-3 ny-left-0 -ny-ml-px -ny-top-3;
}

.ProseMirror table .grip-column:hover::before,
.ProseMirror table .grip-column.selected::before {
  @apply ny-w-2.5;
  content: "";
}

.ProseMirror table .grip-column:hover {
  @apply ny-bg-colorFillSecondary;
}

.ProseMirror table .grip-column:hover::before {
  @apply ny-border-b-2 ny-border-dotted ny-border-colorTextDescription;
}

.ProseMirror table .grip-column.first {
  @apply ny-border-transparent ny-rounded-tl-sm;
}

.ProseMirror table .grip-column.last {
  @apply ny-rounded-tr-sm;
}

.ProseMirror table .grip-column.selected {
  @apply ny-bg-colorFill ny-border-colorBorder ny-shadow-sm;
}

.ProseMirror table .grip-column.selected::before {
  @apply ny-border-b-2 ny-border-dotted;
}

.ProseMirror table .grip-row {
  @apply ny-h-[calc(100%+1px)] ny-border-t ny-border-colorBorder -ny-left-3 ny-w-3 ny-top-0 -ny-mt-px;
}

.ProseMirror table .grip-row:hover::before,
.ProseMirror table .grip-row.selected::before {
  @apply ny-h-2.5;
  content: "";
}

.ProseMirror table .grip-row:hover {
  @apply ny-bg-colorFillSecondary;
}

.ProseMirror table .grip-row:hover::before {
  @apply ny-border-l-2 ny-border-dotted ny-border-colorTextDescription;
}

.ProseMirror table .grip-row.first {
  @apply ny-border-transparent ny-rounded-tl-sm;
}

.ProseMirror table .grip-row.last {
  @apply ny-rounded-bl-sm;
}

.ProseMirror table .grip-row.selected {
  @apply ny-bg-colorFill ny-border-colorBorder ny-shadow-sm;
}

.ProseMirror table .grip-row.selected::before {
  @apply ny-border-l-2 ny-border-dotted;
}

/** Horizontal rule */
.ProseMirror [data-type="horizontalRule"] {
  @apply ny-transition-all ny-duration-100 ny-ease-in-out ny-cursor-pointer;
}

.ProseMirror [data-type="horizontalRule"].ProseMirror-selectednode {
  @apply ny-bg-colorBgElevated;
}

.ProseMirror [data-type="horizontalRule"].ProseMirror-selectednode hr {
  @apply ny-border-t-colorBorder;
}

.ProseMirror [data-type="horizontalRule"]:hover:not(.ProseMirror-selectednode) {
  @apply ny-bg-colorBgContainer;
}

.ProseMirror [data-type="horizontalRule"] hr {
  @apply ny-border-0 ny-border-t ny-border-colorBorder ny-bg-colorBgContainer;
}

/** Page break */
.ProseMirror [data-type="pageBreak"] {
  @apply ny-cursor-pointer ny-relative;
}

.ProseMirror [data-type="pageBreak"]::before {
  @apply ny-w-full ny-border-t-2 ny-border-dashed ny-border-colorBorder ny-absolute ny-top-1/2 ny-left-1/2 ny-transform -ny-translate-x-1/2 ny-translate-y-4;
  content: "";
}

.ProseMirror [data-type="pageBreak"]::after {
  @apply ny-font-semibold ny-uppercase ny-text-xs ny-absolute ny-top-1/2 ny-left-1/2 ny-transform -ny-translate-x-1/2 ny-translate-y-1/2 ny-bg-colorBgContainer ny-px-2;
  content: "Page break";
}

/** Code block */
.ProseMirror pre code span {
  @apply ny-font-jetbrains;
}

.ProseMirror pre code .hljs {
  @apply ny-text-gray-6 ny-bg-gray-1;
}

.ProseMirror pre code .hljs-comment {
  @apply ny-italic ny-text-gray-2;
}

.ProseMirror pre code .hljs-punctuation,
.ProseMirror pre code .hljs-tag {
  @apply ny-text-gray-6;
}

.ProseMirror pre code .hljs-tag.hljs-attr {
  @apply ny-text-[#c44170];
}

.ProseMirror pre code .hljs-tag.hljs-name {
  @apply ny-text-[#4b71bd];
}

.ProseMirror pre code .hljs-attribute,
.ProseMirror pre code .hljs-doctag,
.ProseMirror pre code .hljs-keyword,
.ProseMirror pre code .hljs-meta .hljs-keyword,
.ProseMirror pre code .hljs-name,
.ProseMirror pre code .hljs-selector-tag {
  @apply ny-font-medium ny-text-[#496eb8];
}

.ProseMirror pre code .hljs-deletion,
.ProseMirror pre code .hljs-number,
.ProseMirror pre code .hljs-quote,
.ProseMirror pre code .hljs-selector-class,
.ProseMirror pre code .hljs-selector-id,
.ProseMirror pre code .hljs-string,
.ProseMirror pre code .hljs-template-tag,
.ProseMirror pre code .hljs-type {
  @apply ny-text-[#886594];
}

.ProseMirror pre code .hljs-section,
.ProseMirror pre code .hljs-title {
  @apply ny-font-medium ny-text-[#c44170];
}

.ProseMirror pre code .hljs-link,
.ProseMirror pre code .hljs-operator,
.ProseMirror pre code .hljs-regexp,
.ProseMirror pre code .hljs-selector-attr,
.ProseMirror pre code .hljs-selector-pseudo,
.ProseMirror pre code .hljs-symbol,
.ProseMirror pre code .hljs-template-variable,
.ProseMirror pre code .hljs-variable {
  @apply ny-text-[#e06c75];
}

.ProseMirror pre code .hljs-literal {
  @apply ny-text-[#695];
}

.ProseMirror pre code .hljs-addition,
.ProseMirror pre code .hljs-built_in,
.ProseMirror pre code .hljs-bullet,
.ProseMirror pre code .hljs-code,
.ProseMirror pre code .hljs-params {
  @apply ny-text-[#c44170];
}

.ProseMirror pre code .hljs-meta {
  @apply ny-text-[#625b6b];
}

.ProseMirror pre code .hljs-meta .hljs-string {
  @apply ny-text-[#38a];
}

.ProseMirror pre code .hljs-emphasis {
  @apply ny-italic;
}

.ProseMirror pre code .hljs-strong {
  @apply ny-font-medium;
}
